@charset "UTF-8";

.header {
	background-color: aqua;
	width: 1200px;
	height: 300px;
}

.list {
	display: flex;
	width: 1200px;
	height: 100px;
	background-color: green;
	border: 2px black;
}

.burger{
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}
.drink{
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}
.side{
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.productBox{
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	height: 600px;
}

.item{
	width: 20%;
	height: 50%;
	background-color: lightblue;
	border-color: black;
}